body {
  min-height: 200px;
}

header,
nav,
section,
article,
aside,
footer {
  border: dotted 2px grey;
  overflow: auto;
}

header {
  height: 100px;
  background-color: #22224a;
  display: flex;
  align-items: center;
}

#logo {
  height: 100%;
  float: left;
}

nav {
  background-color: #22224a;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
  float: left;
  margin: 0 10px 0 10px;
}

header p {
  float: left;
  margin: initial;
  font-size: 2.5em;
  font-family: cursive;
  color: #b89069;
}

/* div com id="main" */
#main {
  width: 100%;
}

iframe {
  width: 650px;
  height: 860px;
}

main {
  float: left;
  width: 65%;
}

section,
article {
  min-height: 150px;
}

aside {
  min-height: 304px;
  width: 30%;
  float: right;
}

footer {
  clear: both;
  min-height: 100px;
  background-color: #22224a;
}

nav div{
  border: 2px solid lightgrey;
  padding: 5px 15px;
  border-radius:10px;
  background-color: lightgrey;
  color: black;
  margin-bottom: 5px;
}

nav li a{
  text-decoration: none;
  color: inherit;

}

nav div:hover{
  background-color: #22224a;
  color: #b89069;
  border: 2px solid #b89069;
}
